
@import url("../components/navbar/navbar.css");
@import url("../css/variables.css");
@import url("../components/footer/footer.css");

main {
  margin-top: 80px;
  min-height: calc(100vh - 160px);
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Roboto Mono", monospace;

}