<nav class="navbar">
  <div class="container nav-wrapper">
    
    <div class="logo">MUN <span>NEW CAIRO</span></div>

    <ul class="nav-links" id="navLinks">
      <li><a href="#" data-page="home" class="active">Home</a></li>
      <li><a href="#" data-page="events">Events</a></li>
      <li><a href="#" data-page="conferences">Conferences</a></li>
      <li><a href="#" data-page="board">Board</a></li>
      <li><a href="#" data-page="contact" class="btn btn-accent">Contact</a></li>
    </ul>

    <div class="menu-toggle" id="menuToggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
</nav>


<script></script>