<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUN</title>
</head>

<body>
<nav class="navbar">
  <div class="container">

    <div class="logo">
      MUN <span>New Cairo</span>
    </div>

    <ul class="nav-links">
      <li><a href="index.html" class="active">Home</a></li>
      <li><a href="events.html">Events</a></li>
      <li><a href="conferences.html">Conferences</a></li>
      <li><a href="board.html">Our Board</a></li>
      <li><a href="contact.html" class="btn-nav">Contact</a></li>
    </ul>

  </div>
</nav>


</body>
</html>